@page "/"
@using BlazorAppSerial.Serial;

<PageTitle>Index</PageTitle>

<h1>Blazor puerto serie</h1>


<button class="btn btn-primary" @onclick="WriteHelloWorld">Conectar</button>
<button class="btn btn-primary" @onclick=@(()=>SerialMessage("hola pianola"))>enviar</button>
<div id="target">@dataReceived</div>

@code{
    [Inject] public ISerialPort serialPort { get; set; }
    [Inject] public IJSRuntime js { get; set; }
    string dataReceived;

    async Task WriteHelloWorld()
    {
        if (await serialPort.RequestPort() == Serial.Enums.RequestPortResponseEnum.Ok
         && await serialPort.Open(115200) == Serial.Enums.ConnectResponseEnum.Ok)
        {
            await serialPort.Write("Hello World!");
        }
    }

    private async Task SerialMessage(string message)
    {
        if (serialPort.IsConnected)
        {
            await serialPort.Write(message);
            await Task.Delay(20);
        }
        //dataReceived = await serialPort.Read();
    }

    [JSInvokable("RxText")]
    public void RxText(string text)
    {
        dataReceived = text;
    }
    
}